html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Shippori Mincho B1', serif;
    margin: 0; padding: 0; 
}

.container-supermarket{
    float: right;
    margin-right: 10px;
    
}

.supermarkets{
    list-style: none;
}

#top{
    padding-top: 10px;
    background-color: #E4C5FF;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#title {
    background-color: #E4C5FF;
    font-weight: 800;
}
#title a:hover{
    background-color:#D1ADF1;
}
#title a{
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.navBar {
    background-color:#E4C5FF;
}
#gap{
    color: white;
}
#fourPics {
    max-width: 100%;
    height: auto;  
}
.ourPics {
    border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
    object-fit: cover;
}
#bio{
    display: flex;
    justify-content: center;
    text-align: center;
}
#usPics{
    display: flex;
    justify-content: space-evenly;
}

.recipes {
    margin-top: 500px;
}
  
  .subFav h3 {
    font-size: 40px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgoldenrodyellow;
  }

  .container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left {
    width: 50%;
    min-height: 20px;
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: black;
    margin-right: -25px;
    margin-top: 20px;
    z-index: 5;
  }

  .left h4 {
    font-size: 40px;
    font-weight: lighter;
  }
  .left p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
  }

  .right {
    width: 40%;
    height: 300px;
    border-radius: 8px;
    background: url(pics/italian-tiramisu.jpg) no-repeat center / cover;
    position: relative;
    top: -18px;
}

  .italy-flag {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(pics/italy-flag.png) no-repeat center / cover;
    position: absolute;
    left: 165px;
    top: 800px;
    z-index: 5;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .is-visible {
    display: block;
    z-index: 1; /* Sit on top */  
  }
  

.cuisines{
    /* background-color: #d4dfff; */
    border-radius: 25px;
    background-size: 50%;
    color: white;
    font-weight: bold;
    font-family: 'Shippori Mincho B1', serif;
    text-align:center;
    vertical-align: middle;
    text-shadow: 2px 2px 5px black;
}

h4{
    font-family: "Shippori Mincho B1", serif;
    color:#f1b6ed;
    text-decoration: none;
}

p1{
    color:d4dfff;
    font-weight:bold;
    font-family: "Shippori Mincho B1", serif;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 20px;
}

.flex-social{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: 'Shippori Mincho B1', serif;
}

.flex-middle{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.box1{
    background-image: url("pics/kahvalti.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    width: 25%;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

.box1:hover{opacity: 0.9;}

.box2{
    background-image: url("pics/Italian-food.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    width: 25%;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
    border-radius: 25px;
    vertical-align: middle;
}

.box2:hover{opacity: 0.9;}

.box3{
    background-image: url("pics/chinese-food.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    width: 25%;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
    border-radius:25px;
    vertical-align: middle;
}

.box3:hover{opacity: 0.9;}

.box4{
    background-image: url("pics/pakistani-food.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    width: 25%;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align:center;
    border-radius: 25px;
    vertical-align: middle;
}

.box4:hover{opacity: 0.9;}

.instagramBox{
    border: 2px solid #b5c7fb;
    color: black;
    height: 400px;
    width: 650px;
    background-image: url("pics/instagram.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-decoration: none;
    }
   
#map{
    border-radius: 25px;
    margin-right: 10px;
}

#newsletter{
    text-align: center;
}

.btnPrimary{
    width:900px;
    height: 40px;
    background-color: #d1adf1;
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'Shippori Mincho B1', serif;
    border-radius:25px;
    text-decoration: underline;
    transition-duration: 0.4s;
    }   
    
.btnPrimary:hover {
        background-color: #e4c5ff;
        color: white;
      }


.twitter{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   display: inline-block; 
   margin-top:10px;
}

.twitter:hover{opacity: 0.6}


.facebook{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block; 
    margin-top:10px;
 }

.facebook:hover{opacity: 0.6}

.instagram{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block; 
    margin-top:10px;
 }

.instagram:hover{opacity: 0.6}

footer{
    background-color: #f1b6ed;
    border: 1px solid white;
    padding-bottom: 10px;
 }

/* PHONE VERSION */
@media only screen and

(max-width: 767px){ 
    .navBar {
        padding-top:0px;
        padding-right: 0px;
        margin-left:0px;
        margin-top: 0px;
        padding-left:0px;
        width:100%;
        float:left;
        display:none;
    }
    .navBar ul{
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    .navBar li {
        padding-left:10px;
        padding-right:7px;
    }
    .navBar li.first {
        border:none;
    }
    .navBar li a {
        color:black;
        text-decoration:none;
        padding-top:5px;
        padding-bottom: 5px;
        padding-right:10px;
        padding-left: 10px;
        float:left;
    }
    .navBar li a:hover {
            background-color:#D1ADF1;
    }
    .navBar.user { 
        flex: 1;
    }
    .navBar li.last {
        padding-bottom: 10px;
    }  
    form.search input[type=text] {
        padding: 5px;
        font-size: 17px;
        border: 1px solid #F1B6ED;
        float: left;
        width: 80%;
        background: white;
      }
      
    form.search button {
        float: left;
        width: 20%;
        padding: 5px;
        background: #FFCCFC;
        color: white;
        font-size: 17px;
        border: 1px solid#F1B6ED;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
      }
    form.search button:hover {
        background: #F1B6ED;
      }
      
    form.search::after {
        content: "";
        clear: both;
        display: table;
      }
    .navBarToggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
    }
    .active {
        display: block;
      }
    #gap{
        font-size: 6px;
    }
    .rotatingFood{
        padding-left: 5%;
        padding-right: 5%;
    }
    .leftBtn {
        margin-left: 2%;
      }
    .rightBtn {
        margin-right: 2%;
      }
    #bio{
        padding-top: 40px;
        padding-bottom: 20px;
        padding-right: 30px;
        padding-left: 30px;
    } 
    #phonePics {
        margin-bottom: 20px;
    }
    
    #usPics{
        display:none
    }
    .firstPics{
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        max-width: 120px;
        max-height: 120px;
        object-fit: cover;
    }
    .firstPics:hover {
        transform: scale(1.3);
    }
    #firstHalf{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 20px;
    }
    .secondPics{
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        max-width: 120px;
        max-height: 120px;
        object-fit: cover;
    }
    .secondPics:hover {
        transform: scale(1.3);
    }
    #secondHalf{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 20px;
    }
    } 


/* TABLET VERSION */
@media only screen and

(min-width: 768px) {
    
    
    #title {
        margin-bottom: 0px;
        padding-bottom: 5px;
        padding-top: 5px;
        width: 300px;
    }
       
    .navBar {
        padding-top:0px;
        padding-right: 0px;
        margin-left:0px;
        margin-top: 0px;
        padding-left:0px;
        width:100%;
        float:left;
        margin-bottom: 5%;
    }
    .navBar ul{
        display: flex;
        list-style: none;    
    }
    .navBar li {
        flex: 3;
        padding-left:10px;
        padding-right:7px;
    }
    .navBar li.first {
        border:none;
    }
    .navBar li a {
        color:black;
        text-decoration:none;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right:10px;
        padding-left: 10px;
        float:left;
    }
    .navBar li a:hover {
            background-color:#D1ADF1;
    }
    .navBar.user { 
        flex: 1;
    }
      
    form.search input[type=text] {
        padding: 6px;
        font-size: 15px;
        border: 1px solid #F1B6ED;
        float: left;
        width: 80%;
        background: white;
      }
      
    form.search button {
        float: left;
        width: 20%;
        padding: 6px;
        background: #FFCCFC;
        color: white;
        font-size: 15px;
        border: 1px solid#F1B6ED;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
      }
    form.search button:hover {
        background: #F1B6ED;
      }
      
    form.search::after {
        content: "";
        clear: both;
        display: table;
      }
    .navBarToggle {
        display: none;
     }
    #gap{
        display: none;
    }
    .rotatingFood{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5%;
    }
    .leftBtn {
        margin-left: 2%;
        margin-top: 5%;
      }
    .rightBtn {
        margin-right: 2%;
        margin-top: 5%;
      }
    #bio{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .ourPics {
        max-height: 140px;
        max-width: 140px;
    }
    .ourPics:hover {
        transform: scale(1.3);
    }
    #usPics{
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 30px;
    }
    #phonePics{
        display: none;
    }
}

/* DESKTOP VERSION */
@media only screen and

(min-width: 980px) {

#title {
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 300px;
}
.navBar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left:0px;
    margin-top: 0px;
    padding-left:0px;
    width:100%;
    float:left;
    margin-bottom: 4%;
}
.navBar ul{
    display: flex;
    list-style: none;
    
}
.navBar li {
    flex: 3;
    padding-left:10px;
    padding-right:7px;
}
.navBar li.first {
    border:none;
}
.navBar li a {
    color:black;
    text-decoration:none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    float:left;
}
.navBar li a:hover {
        background-color:#D1ADF1;
}
.navBar.user { 
    flex: 1;
}
  
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #F1B6ED;
    float: left;
    width: 80%;
    background: white;
  }
  
form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #FFCCFC;
    color: white;
    font-size: 17px;
    border: 1px solid#F1B6ED;
    border-left: none;
    cursor: pointer;
  }
form.search button:hover {
    background: #F1B6ED;
  }
  
form.search::after {
    content: "";
    clear: both;
    display: table;
  }
.navBarToggle {
    display: none;
 }
 #gap{
    display: none;
}
.rotatingFood{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;
}
.leftBtn {
    margin-left: 10%;
    margin-top: 5%;
  }
.rightBtn {
    margin-right: 10%;
    margin-top: 5%;
  }
#bio{
    padding-top: 40px;
    padding-bottom: 30px;
}
.ourPics {
    max-height: 180px;
    max-width: 180px;
}
.ourPics:hover {
    transform: scale(1.3);
}
#usPics{
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
}
#phonePics{
    display: none;
}
}